.sidebar-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-link-item {
  display: block;
  margin: 0;
  border-right: 3px solid transparent;
  color: var(--c-text);
}

a.sidebar-link-item:hover {
  text-decoration: none;
  color: var(--c-brand);
}

a.sidebar-link-item.active {
  color: var(--c-brand);
}

.sidebar > .sidebar-links {
  padding: 0.75rem 0 5rem;
}

@media (min-width: 720px) {
  .sidebar > .sidebar-links {
    padding: 1.5rem 0;
  }
}

.sidebar > .sidebar-links > .sidebar-link > .sidebar-link-item {
  padding: 0.6rem 1rem 0.6rem 3rem;
  font-size: 1rem;
}

.sidebar > .sidebar-links > .sidebar-link > a.sidebar-link-item.active {
  border-right-color: var(--c-brand);
  background: linear-gradient(270deg,#f8faff,rgba(248,250,255,0));
}


.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sub-links {
  margin: 0.5rem 0 0 3rem;
  font-size: 0.9rem;
  padding-left: 1em;
  position: relative;
  display: block;
  color: #454d64;
  line-height: 2.4;
  text-decoration: none;
  outline: none;
  transition: color .3s,background .3s;
}

.sidebar
.sub-links
> .sidebar-link
> .sidebar-link-item::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  margin-top: -2.5px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #4569d4;
  border-radius: 50%;
  opacity: 0;
  transition: transform .2s,opacity .2s;
  transform: scale(0) translateX(-10px);
  box-sizing: border-box;
}

.sidebar
.sub-links
> .sidebar-link
> .sidebar-link-item.active{
  padding-right: 24px;
}

.sidebar
.sub-links
> .sidebar-link
> .sidebar-link-item.active::before{
  opacity: 1;
  transform: scale(1) translateX(0);
}
